.ant-table-cell {
  text-align: center !important;
}

thead .table__column_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  padding: 4px;
}

thead .table__column_header div {
  display: flex;
}

thead th {
  height: 40px !important;
  background-color: #F2F2F2 !important;
}
tr th:last-child{
  width: 32px !important;
  align-items: center !important;

}
tbody tr {
  height: 40px !important;
  background-color: #ffffff !important;
}

tbody tr:nth-child(2n) {
  background-color: #FAFAFA !important;
}
//tr:hover>td {
//  border-top: 1px solid #D9D9D9 !important;
//  border-bottom: 1px solid #D9D9D9 !important;
//}
tr:hover>td {
  background-color: #FFF8E0 !important;
  transition: all 0.3s !important;
}
//tr:hover>td:first-child{
//  border-left: 1px solid #D9D9D9 !important;
//}
//tr:hover>td:last-child{
//  border-right: 1px solid #D9D9D9 !important;
//}

.ant-table-small > .ant-table-content > .ant-table-body {
  margin: unset;
}

.ant-table-thead > tr > th .ant-table-header-column {
  width: 100%;
}

.table .ant-table-column-sorters-with-tooltip {
  display: flex;
}

.table .ant-table-filter-trigger-container {
  align-items: center;
}

.table .ant-table-measure-row {
  display: none;
}

.table .ant-table-selection {
  display: unset;
}

.table .ant-table-tbody > tr.ant-table-row-selected > td {
  background: unset;
}