.tag{
    height: 32px;
    border: 1px solid #424D78;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
  }

.ant-tag .anticon-close{
  margin-left: 5px;
  color: #424D78;
  border-radius: 100px;
  border: 1.5px solid #424D78;
}