a.href{
  text-decoration: none !important;
}

.href {
  height: 40px;
  padding: 0 16px;
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  &&-success{
    background-color: #F0FEFF;
  }
  &&-error{
    background-color: #F8F1F3;
  }
  &&-warning{
    background-color: #FFFCF3;
  }
}
