.typography {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #000000;
}

.typography-capture-light {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.typography-capture-link {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
}

.typography-capture-medium {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.typography-capture-regular {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.typography-body-bold {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.typography-body-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
}

.typography-body-light {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.typography-body-regular {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.typography-body-medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.typography-h4-light {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.typography-h4-regular {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.typography-h4-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.typography-h3-regular {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.typography-h3-medium {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.typography-h2-regular {
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}

.typography-h2-medium {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.typography-h1-regular {
  font-weight: normal;
  font-size: 56px;
  line-height: 66px;
}

.typography-line-through {
  text-decoration: none;
  &:hover {
    text-decoration: line-through;
  }
}

.typography-overline {
  text-decoration: none;
  &:hover {
    text-decoration: overline;
  }
}

.typography-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
