.hint {
  width: fit-content;
}

.ant-tooltip-inner, .ant-tooltip-arrow-content {
  background-color: #2A356C;
  color: #FFFFFF;
}

.ant-tooltip-inner {
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
