.ant-tabs {
  overflow: unset;
}

.ant-tabs-tab {
  color: #424D78 !important;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  word-wrap: unset;
  white-space: nowrap;
  &:active, &:focus, &:hover {
    .ant-tabs-tab-btn {
      color: #2A356C !important;
      font-weight: 500 !important;
    }
  }
}

.ant-tabs-nav {
  font-size: 18px;
  line-height: 16px;
  color: #424D78;
}

.ant-tabs-nav .ant-tabs-tab {
  padding-left: 0;
  padding-right: 0;
}

.ant-tabs-ink-bar {
  background-color: #424D78;
}

.ant-tabs-tab-active {
  .ant-tabs-tab-btn {
    color: #2A356C !important;
  }
}