.btn, span.btn button {
  position: relative;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  //padding: 0.7em 1.2em;
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  //width: 87px;
  width: auto;
  border-radius: 4px;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
  background: #424D78;
  border: none;
  color: #fff;
  outline: none;

      &:hover {
        background: #2A356C;
        border: none;
        //color: white;
      }
}

span.btn {
  padding: 0;
}

.btn-medium {
  font-size: 15px;
}

.btn-large {
  font-size: 18px;
}

.btn-disabled, span.btn-disabled button {
  background-color: #B3B3B3;
  border: none;
  color: #fff;
  cursor: not-allowed;
      &:hover{
        background-color: #B3B3B3;
        border: none;
        color: #fff;
      }
}

//span.btn-disabled button {
//  top: -3px;
//}

.btn-disabled a{
  display: unset !important;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-primary {
  &-select:focus{
    background: #2A356C;
  }
}

.btn-secondary {
  background-color: #fff;
  border: 1px solid #424D78;
  color: #2A356C;

      &:active{
        background: #FFF8E0 !important;
        border: 1px solid #FFCC66 !important;
      }
      &:hover {
        background-color: #FFFCF3;
        border: none;
        color: #424D78;
        //box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
      }
  &-select:focus{
    background: #FFF8E0;
    border: 1px solid #FFCC66;
  }
}

.btn-link, .btn-link div:nth-child(2) {
  background-color: rgba(255,255,255,0);
  width: auto;
  padding: unset;
  color: #2A356C;
  &:active{
    background-color: rgba(255,255,255,0);
  }
  &:hover {
    background-color: rgba(255,255,255,0);
    text-decoration: underline;
  }
}

.btn-icon {
  min-width: 0px;
  padding: 5px;
}

.btn-ghost {
  &-select:focus{
    border: 1px solid #171D45;
  }
}

.btn-ghost, .btn-ghost div:nth-child(2), .btn-ghost-icon {
  background: none;
  //border: none;
  color: #2A356C;
  width: auto;
  border: 1px solid rgba(0,0,0,0);

  &:active:not(.btn-ghost div:nth-child(2)){
    background: #FFF8E0 !important;
    border: 1px solid #FFCC66 !important;
  }
  &:hover:not(.btn-ghost div:nth-child(2)) {
    background-color: #fff;
    border: 1px solid #171D45;
    color: #424D78;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  }
}

.btn-circle {
  border-radius: 50%;
  padding: 8px;
  width: 32px;
}

.btn-square {
   border-radius: 4px;
  line-height: initial;
   padding: 8px;
   width: 32px;
 }

.btn-ghost-icon {
  border-radius: 4px;
  padding: 8px;
  width: 32px;
}